.about-verifactu-section {

  padding:
    var(--space-2xl)
    var(--space-lg);
}

.about-verifactu-section__container {

  max-width: 1200px;

  margin: 0 auto;

  display: grid;

  grid-template-columns:
    1fr 1fr;

  gap: var(--space-xl);

  align-items: center;
}

.about-verifactu-section__title {

  font-size: 3rem;

  font-weight: 700;
}

.about-verifactu-section__title span {

  color: var(--color-primary);
}

.about-verifactu-section__description {

  margin:
    var(--space-md) 0
    var(--space-lg);
}

.about-verifactu-section__gallery {

  display: grid;

  grid-template-columns:
    repeat(2, 1fr);

  gap: 1rem;
}

.about-verifactu-section__gallery img {

  width: 100%;

  aspect-ratio: 3 / 4;

  object-fit: cover;

  border-radius: 1rem;
}

@media (max-width: 768px) {

  .about-verifactu-section__container {

    grid-template-columns: 1fr;
  }

  .about-verifactu-section__gallery {

    grid-template-columns: 1fr;
  }

}