:root {

  --color-primary: #ff007f;

  --color-background: #ffffff;

  --color-surface-dark: #000000;

  --color-text-primary: #2c2c2c;

  --color-text-secondary: #666666;

  --color-text-light: #ffffff;

  --color-border: #2c2c2c;

}