<section class="hero-section">

  <div class="hero-section__container">

    <div class="hero-section__image">
      <img
        [src]="hero.image"
        [alt]="hero.title">
    </div>

    <div class="hero-section__content">

      <h1 class="hero-section__title">
        {{ hero.title }}
      </h1>

      <p class="hero-section__subtitle">

        {{ hero.subtitle }}

        <span class="hero-section__highlight">
          {{ currentWord }}
        </span>

      </p>

<div class="hero-section__actions">

  <app-button>

    {{ hero.primaryButton }}

  </app-button>

  <app-button variant="secondary">

    {{ hero.secondaryButton }}

  </app-button>

</div>

    </div>

  </div>

</section>