<section id="inicio" class="hero-section">
  <app-animated-lines-background></app-animated-lines-background>

  <div class="hero-section__container">

    <app-hero-image
      [image]="hero.image"
      [tabletImage]="hero.tabletImage || hero.image"
      [imageAlt]="hero.title">
    </app-hero-image>

    <app-hero-content
      [title]="hero.title"
      [subtitle]="hero.subtitle"
      [highlightedWord]="currentWord()"
      [primaryButton]="hero.primaryButton"
      [secondaryButton]="hero.secondaryButton">
    </app-hero-content>

  </div>

</section>
