<div class="about-verifactu-info-block">
  <div class="about-verifactu-info-block__content">
    <h2 class="about-verifactu-info-block__title">
      {{ content.title }}

      <span>
        {{ content.highlightedWord }}
      </span>
    </h2>

    <p class="about-verifactu-info-block__description">
      {{ content.description }}
    </p>

    <app-button>
      {{ content.buttonLabel }}
    </app-button>
  </div>

  <div class="about-verifactu-info-block__visuals" aria-label="Imágenes de VERIFACTU">
    <img [src]="content.imageOne" [alt]="content.highlightedWord">
    <img [src]="content.imageTwo" [alt]="content.highlightedWord">
  </div>
</div>
